* {
	box-sizing: border-box;
}
#app-container{
	width: 100%;
}
body{
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgba(159, 235, 135, 0.27);
}
.nav-header{
	width: 100%;
	margin-top: -9px;
	display: inline-flex;
	background-color: grey;
	color:white;
	margin-left: 0;
	margin-right: 0;
}
.nav-header p{
	margin-left: 15px;
	margin-right: 15px;
}
.nav-header i {
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 25px;
}
.search{
	margin-top: 10px;
	height: 33px;
	width: 121px;
}
.hr{
	width: 100%;
}
.repos-col{
	margin-left: 35px;
}
.profile-col{
display: inline-flex;
margin-left: 25px;
margin-top: 40px;
}

.profile-col img{
	max-width: 50%;
}
